<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Shabbir Khandwala">
    <title>About Me - Shabbir</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<!--     <nav class="nav">
        <div class="container">
        <div class="logo">
          <a href="#">Online Book Store</a>
        </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
            <li><a href="#">About</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
 -->
<header class='masthead'>
  <p class='masthead-intro'>Hi I'm</p>
  <h1 class='masthead-heading'>Shabbir!</h1>
</header>
<section class="introduction-section">
    <h1>Introduction</h1>
    <p>I am a budding software developer, part time gamer and full-time traveler.</p>
    <p>I love the internet, technology, and exploring it, the result being this project.</p>
</section>
<section class="location-section">
    <h1>Where I'm From</h1>
    <p>I'm originally from Mumbai, India. </p>
</section>
<section class="questions-section">
    <h1>More About Me</h1>
    <h2>What are your favorite hobbies?</h2>
    <p>There is a long list of activities I like. From playing computer games to actively participate in competitive coding to traveling to new places, there is just no end to it. One of my newer hobby has been to learn web development lately, develop full-stack web apps such as this one.</p>
    <h2>What's your dream job?</h2>
    <p>My dream job would be to a data scientist, I have a strong liking for it and am exploring other fields equally in order to expand my portfolio to get more opportunites and eventually enter into the data science field.</p>
    <h2>Where do you live?</h2>
    <p>Though I was born in Mumbai, I am really loving Pune, where I currently am and would be for the upcoming years to go to work.</p>
</section>

<footer class="content-footer">
    <p>Say hi to me on these social networks:</p>
    <ul class="social">
        <li><a class="css-is-deranged" href="#">GitHub</a></li>
        <li><a class="css-is-deranged" href="#">Facebook</a></li>
        <li><a class="css-is-deranged" href="#">E-mail</a></li>
    </ul>
</footer>
</body>
</html>