<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Shabbir Khandwala">
    <title>Online Book Store - Search Result</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='styles/viewAll.css') }}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>

<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                        <!--https://codepen.io/meowwwls/pen/bpOjEr-->
                        <section class="search-form">
                            <form action="{{ url_for('filteredView' )}}" method="POST" name="search" role="search">
                                <p class="inp-wrap search-wrap">
                                    <label for="search-field" class="search-label grid-25">Find</label>
                                    <input type="search" name="search-term" id="search-field" class="grid-75" placeholder="Search" /></p>
                                <p class="inp-wrap cat-wrap">
                                    <label for="categories" class="grid-20">in</label>
                                    <select name="search categories" id="categories" class="grid-80">
                                        <option value="None" selected>Select an option</option>
                                        <option>Mystery</option>
                                        <option>Romance</option>
                                        <option>Thriller</option>
                                        <option>Drama</option>
                                        <option>Children</option>
                                    </select>
                                </p>
                                <p class="inp-wrap submit-wrap">
                                    <button class="grid-100 btn">Search</button>
                                </p>
                            </form>
                        </section>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Instagram</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" />
                        <circle cx="12" cy="13" r="4" /></svg>
                    <strong>Online Book Store</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
    <main role="main">
        <section class="text-center" style="margin-top: 1%">
            <div class="container">
                <h3>{{ searchresult }}</h3>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for row in booksList %}
                        <div class="row">
                            {% for entry in row %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img src="{{ url_for('static', filename='cover/' + entry.cover)}}" width="100%" height="20%">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ entry.title }} </h4>
                                        <p class="card-text"> {{ entry.summary }} </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="{{ url_for('viewBook', id=entry.id) }}" class="btn btn-sm btn-outline-secondary">View</a>
                                                {% if authenticated %}
                                                    <a href="{{ url_for('updateBook', id=entry.id) }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                                {% else %}
                                                    <button class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
                                                {% endif %}
                                            </div>
                                            <small class="text-muted">{{ entry.uploadDate }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Brought to you by Shabbir Khandwala</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>
    window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>